.container {
    width: 1230px;
    margin: 0 auto;
}
.inner-container {
    padding: 0 20px 0 56px;
}
.row {
	margin: 0;
	max-width: none;
}
.large-3.columns {
	padding: 0;
	&.wisdomizers {
		margin-top: 15px;
	}
}
.table-listing {
	vertical-align: middle;
	display: inline-block;
	margin: 0;
	li {
	    float: left;
	    color: #0a0a0a;
	    cursor: default;
	}
	li:not(:last-child)::after {
	      color: #cacaca;
	      content: "/";
	      margin: 0 0.75rem;
	      position: relative;
	      top: 1px;
	      opacity: 1; 
	}
}
.top-bar {
	padding-left: 10px;
}