<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Wisdom Trigger | Book Recommendations from Wisdomizers</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="shortcut icon" href="/images/FAVICON-W.png" />
        {{> googleanalytics}}
    </head>
    <body>
        <!-- Start Top Bar -->
        <div class="container">
            <div class="logo-bar">
                <div class="inner-container">
                    <a href="/"><div class="logo">Wisdom Trigger<span>&nbsp;&nbsp;&nbsp;Book Recommendations from Wisdomizers.</span></div></a>
                </div>
            </div>
            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                        <li><a href="/categories">Book Recommendations</a></li>
                        <li><a href="/wisdomizers">Wisdomizers</a></li>
                        <li><a href="/wisdombabies">Wisdom Babies</a></li>
                        <li><a href="/about">Wisdom's Story</a></li>
                        <li><a href="/contact">Wisdom's Contact</a></li>
                    </ul>
                </div>
{{!--                 <div class="top-bar-right">
                    <ul class="menu">
                        <li><input type="search" placeholder="Search"></li>
                        <li><button type="button" class="button">Search</button></li>
                    </ul>
                </div> --}}
            </div>
            <!-- End Top Bar -->
            {{{body}}}
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
        <script src="/js/socialshare.js"></script>
        <script>
        $(document).foundation();
        </script>
    </body>
</html>