<div class="element">
    <div class="group facebook-share">
        <button class="fb"><i class="fa fa-facebook"></i> Facebook</button>
    </div>
    <div class="group gplus-share">
        <button class="gp"><i class="fa fa-google-plus"></i> Google-Plus</button>
    </div>
    <div class="group linkedin-share">
        <button class="linkedin"><i class="fa fa-linkedin"></i> LinkedIn</button>
    </div>
    <div class="group twitter-share">
        <button class="twitter"><i class="fa fa-twitter"></i> Twitter</button>
    </div>
    <div class="group pinterest-share">
        <button class="pinterest"><i class="fa fa-pinterest"></i> Pinterest</button>
    </div>
</div>