{{#with pageContent}}
<ul class="breadcrumbs level-1">
    {{#each breadcrumbs as | breadcrumb |}}
    <li><a href="{{breadcrumb.url}}">{{breadcrumb.name}}</a></li>
    {{/each}}
</ul>
<div class="row categories">
    <div class="large-9 columns">
        <p class="static-content">
            Hi Stranger -  <br><br>
            You're reaching the <i>about page</i> of Wisdom Trigger. <br>
            The origin of Wisdom Trigger is a story of a Wisdom Baby who have been being hatching by the Wisdomizers for years. <br><br>
            Once upon a time, <a href="/wisdombabies/aerowong">I</a>, the first baby, embarked on the journey of <i>personal development</i>.<br>
            I looked for mentors (a.k.a. Wisdomizers) who navigate the rapids before me and has a good map to follow. <br><br>
            But they're all busy working on something important to the world... <br>
            They rejected my request to be a direct mentor. <br>
            Luckily, there's another type of mentor - indirect mentor. <br><br>
            Namely BOOKS! <br><br>
            <a href="/wisdomizers/jamesaltucher">One</a> of the Wisdomizers used to say: You can outsource 90 percent of mentorship to books and other materials. <br>
            200 - 500 books equals one good mentor. <br><br>
            So I've become a book nerd. I read thousands of books based on the wisdomizers' recommendations. <br>
            The wisdom in books turned me into <a href="http://aerowong.com/about/">this</a>. <br><br>
            I wouldn't have the above achievements without the book recommendations from the wisdomizers. <br>
            That's why I've spent a whole month to program this little site. <br>
            I want to give back to the community by spreading the Wisdomizers' book recommendations. <br><br>
            Become a Wisdom Baby with me. One day you'll become another Wisdomizer. <br><br>
            <a href="/">Enjoy.</a> =]<br><br>
            - Wisdom Baby
        </p>
        <div class="social-btn">
            <p class="instruction">Share Wisdom</p>
            {{> social_share}}        
        </div>
    </div>
    <div class="large-3 columns">
        {{> mailchimp}}
    </div>
</div>
{{/with}}