<div class="row dashboard" style="margin-bottom: 100px;">
	<div class="large-6 columns">
		<h3 class="instruction">Add Wisdomizer</h3>
		<h3 class="success-message" id="success-message-1">SUCCESSFULLY Added Wisdomizer</h3>
		<form id="add-wisdomizer-form">
			<div class="large-12 columns add-wisdomizer-form">
			    <label>What is his/her name?<span class="alert-message" id="alert-message-1">Please insert the wisdomer's name.</span>
			        <input type="text" id="wisdomizer-name" placeholder="e.g.: Derek Sivers (First name + Last Name) " />
			    </label>
			    <label>What is his/her gender?<span class="alert-message" id="alert-message-2"> Please insert the wisdomer's gender.</span>
			        <input type="text" id="wisdomizer-gender" placeholder="f or m (just a letter: f or m)" />
			    </label>
			    <label>Get him/her a beautiful profile picture.<span class="alert-message" id="alert-message-3"> Please insert the wisdomer's profile picture.</span>
			        <input type="text" id="wisdomizer-profile-pic" placeholder="e.g.: http://filmrobot.com/Robot-300x300.png (A square size picture)" />
			    </label>
			    <label>What is his/her site?<span class="alert-message" id="alert-message-4"> Please insert the wisdomer's site</span>
			        <input type="text" id="wisdomizer-site" placeholder="e.g.: fourhourworkweek.com" />
			    </label>
			    <a href="#" class="button">ADD</a>
		    </div>
		</form>
	</div>
	<div class="large-6 columns">
		<h3 class="instruction">Add Book Recommendation</h3>
		<h3 class="success-message" id="success-message-2">SUCCESSFULLY Added Book Recommendation</h3>
		<form id="add-book-recommendation-form">
			<div class="large-12 columns add-book-recommendation-form">
			    <label>What is the book title?<span class="alert-message" id="alert-message-5">Please insert the book title.</span>
			        <input type="text" id="book-title" placeholder="e.g.: On Writing Well" />
			    </label>
			    <label>What is the book's ISBN number?<span class="alert-message" id="alert-message-14">Please insert the book's ISBN number.</span>
			        <input type="text" id="book-isbn" placeholder="e.g.: 0439139600" />
			    </label>
			    <label>What is the cover image?<span class="alert-message" id="alert-message-6">Please insert the cover image.</span>
			        <input type="text" id="book-cover-image" placeholder="e.g.: https://images-na.ssl-images-amazon.com/images/I/51KiJBZg5%2BL._SX355_BO1,204,203,200_.jpg" />
			    </label>
			    <label>Who are the authors? There will be at least ONE.<span class="alert-message" id="alert-message-7">Please insert at least 1 author.</span>
			        <input type="text" class="book-author" id="book-author-1" placeholder="e.g.: Tim Ferris" />
			    </label>
			    <label>
			        <input type="text" class="book-author" id="book-author-2" placeholder="e.g.: Ryan Holiday" />
			    </label>
			    <label>
			        <input type="text" class="book-author" id="book-author-3" placeholder="e.g.: Tony Robbins" />
			    </label>
			    <label>What are the categories? There will be at least ONE.<span class="alert-message" id="alert-message-8">Please insert at least 1 category.</span>
			        <input type="text" class="book-category" id="book-category-1" placeholder="e.g.: Writing" />
			    </label>
			    <label>
			        <input type="text" class="book-category" id="book-category-2" placeholder="e.g.: Business" />
			    </label>
			    <label>
			        <input type="text" class="book-category" id="book-category-3" placeholder="e.g.: Marketing" />
			    </label>
			    <label>What is the corresponding Amazon book page?<span class="alert-message" id="alert-message-9">Please insert the corresponding Amazon book page.</span>
			        <input type="text" id="book-amazon-page" placeholder="e.g.: http://amzn.to/28Oc2bv" />
			    </label>
			    <label>Which Wisdomizer recommended this book?<span class="alert-message" id="alert-message-10">Please insert the Wisdomizer's name.</span><span class="alert-message" id="alert-message-13"> No this Wisdomizer. Please add his/her as a Wisdomizer first.</span>
			        <input type="text" id="book-corresponding-wisdomizer" placeholder="e.g.: Richard Branson" />
			    </label>
			    <label>Where did the Wisdomizer recommend this book? <br>Put in the URL source. <br>It could be anywhere from a blog post, or Youtube video, etc.<span class="alert-message" id="alert-message-11">Please insert the recommendation source.</span>
			        <input type="text" id="book-src" placeholder="e.g.: https://www.youtube.com/watch?v=O3Sh5AbjD4c" />
			    </label>
			    <label>What is the source title?<span class="alert-message" id="alert-message-12">Please insert the title for the recommendation source.</span>
			        <input type="text" id="book-src-title" placeholder="e.g.: Gabrielle Reece on Self-Worth - Inside Quest" />
			    </label>
			    <a href="#" class="button">ADD</a>
			</div>
		</form>
	</div>	
</div>