<div class="row">
	<div class="large-6 columns">
		<h3>Add Wisdomizer</h3>
			<form id="add-wisdomizer-form">
				<div class="large-12 columns add-wisdomizer-form">
				    <label>What is his/her name?
				        <input type="text" id="wisdomizer-name" placeholder="First name + Last Name. Example: Derek Sivers" />
				    </label>
				    <label>What is his/her gender?
				        <input type="text" id="wisdomizer-gender" placeholder="Put in 'f' or 'm'" />
				    </label>
				    <label>Get him/her a beautiful profile picture.
				        <input type="text" id="wisdomizer-profile-pic" placeholder="Put in a square picture. Say like: 300x300 or 400x400" />
				    </label>
				    <label>What is his/her site?
				        <input type="text" id="wisdomizer-site" placeholder="Example: fourhourworkweek.com" />
				    </label>
				    <a href="#" class="button">ADD</a>
			    </div>
			</form>
	</div>
	<div class="large-6 columns">
		<h3>Add Book Recommendation</h3>
		<div class="large-12 columns">
		    <label>What is his/her name?
		        <input type="text" placeholder="large-12.columns" />
		    </label>
		    <label>What is his/her gender?
		        <input type="text" placeholder="large-12.columns" />
		    </label>
		    <label>Get him/her a beautiful profile picture =]
		        <input type="text" placeholder="large-12.columns" />
		    </label>
		    <label>Input his/her site
		        <input type="text" placeholder="large-12.columns" />
		    </label>
	    </div>
	</div>	
</div>