<div class="row">
	<div class="large-6 columns">
		<h2>Add Wisdomizer</h2>
			<form id="add-wisdomizer-form">
				<div class="large-12 columns add-wisdomizer-form">
				    <label>
				        <input type="text" id="wisdomizer-name" placeholder="What is his/her name?" />
				    </label>
				    <label>
				        <input type="text" id="wisdomizer-gender" placeholder="What is his/her gender?" />
				    </label>
				    <label>
				        <input type="text" id="wisdomizer-profile-pic" placeholder="Get him/her a beautiful profile picture." />
				    </label>
				    <label>
				        <input type="text" id="wisdomizer-site" placeholder="What is his/her site?" />
				    </label>
				    <a href="#" class="button">ADD</a>
			    </div>
			</form>
	</div>
	<div class="large-6 columns">
		<h2>Add Book Recommendation</h2>
		<div class="large-12 columns">
		    <label>What is his/her name?
		        <input type="text" placeholder="large-12.columns" />
		    </label>
		    <label>What is his/her gender?
		        <input type="text" placeholder="large-12.columns" />
		    </label>
		    <label>Get him/her a beautiful profile picture =]
		        <input type="text" placeholder="large-12.columns" />
		    </label>
		    <label>Input his/her site
		        <input type="text" placeholder="large-12.columns" />
		    </label>
	    </div>
	</div>	
</div>