<div class="row" style="margin-bottom: 100px;">
	<div class="large-6 columns">
		<h3>Add Wisdomizer</h3>
		<form id="add-wisdomizer-form">
			<div class="large-12 columns add-wisdomizer-form">
			    <label>What is his/her name?
			        <input type="text" id="wisdomizer-name" placeholder="First name + Last Name. e.g.: Derek Sivers" />
			    </label>
			    <label>What is his/her gender?
			        <input type="text" id="wisdomizer-gender" placeholder="f or m (just a letter: f or m)" />
			    </label>
			    <label>Get him/her a beautiful profile picture.
			        <input type="text" id="wisdomizer-profile-pic" placeholder="A square picture. Say like: 300x300 e.g.: http://filmrobot.com/wp-content/uploads/2014/03/Robot-300x3001.png" />
			    </label>
			    <label>What is his/her site?
			        <input type="text" id="wisdomizer-site" placeholder="Example: fourhourworkweek.com" />
			    </label>
			    <a href="#" class="button">ADD</a>
		    </div>
		</form>
	</div>
	<div class="large-6 columns">
		<h3>Add Book Recommendation</h3>
		<form id="add-book-recommendation-form">
			<div class="large-12 columns add-book-recommendation-form">
			    <label>What is the book title?
			        <input type="text" id="book-title" placeholder="Example: On Writing Well" />
			    </label>
			    <label>What is the cover image?
			        <input type="text" id="book-cover-image" placeholder="Example: https://images-na.ssl-images-amazon.com/images/I/51KiJBZg5%2BL._SX355_BO1,204,203,200_.jpg" />
			    </label>
			    <label>Who are the authors? There will be at least ONE.
			        <input type="text" class="book-author" id="book-author-1" placeholder="e.g.: Tim Ferris" />
			    </label>
			    <label>
			        <input type="text" class="book-author" id="book-author-2" placeholder="e.g.: Ryan Holiday" />
			    </label>
			    <label>
			        <input type="text" class="book-author" id="book-author-3" placeholder="e.g.: Tony Robbins" />
			    </label>
			    <label>What are the categories? There will be at least ONE.
			        <input type="text" class="book-category" id="book-category-1" placeholder="e.g.: Tony Robbins" />
			    </label>
			    <label>
			        <input type="text" class="book-category" id="book-category-2" placeholder="e.g.: Tony Robbins" />
			    </label>
			    <label>
			        <input type="text" class="book-category" id="book-category-3" placeholder="e.g.: Tony Robbins" />
			    </label>
			    <label>What is the corresponding Amazon book page?
			        <input type="text" id="book-amazon-page" placeholder="e.g.: http://amzn.to/28Oc2bv" />
			    </label>
			    <label>Which Wisdomizer recommended this book?
			        <input type="text" id="book-corresponding-wisdomizer" placeholder="e.g.: Tony Robbins" />
			    </label>
			    <label>Where did the Wisdomizer recommend this book? Put in the URL source. <br>It could be anywhere from a blog post, or Youtube video, etc.
			        <input type="text" id="book-src" placeholder="e.g.: https://www.youtube.com/watch?v=O3Sh5AbjD4c" />
			    </label>
			    <label>What is the source title?
			        <input type="text" id="book-src-title" placeholder="e.g.: Gabrielle Reece on Self-Worth, Tenacious Gratitude, and Raw Vulnerability - Inside Quest" />
			    </label>
			    <a href="#" class="button">ADD</a>
			</div>
		</form>
	</div>	
</div>