.dashboard {
	border-top: 10px solid #E6E6E6;
	label {
		font-size: 18px;
	}
	.instruction {
		margin: 10px 15px;
	}
	.alert-message,
	.success-message {
		display: none;
	}
	.alert-message {
		margin: 20px 0;
		color: #F00;
	}
	.success-message {
		margin: 20px 10px;
		color: #475496;
	}
}