.dashboard {
	label {
		font-size: 18px;
	}
	.instruction {
		margin: 10px 15px;
	}
	.alert-message,
	.success-message {
		margin: 10px 0;
		display: none;
	}
	.alert-message {
		color: #F00;
		&.active {
			display: block;
		}
	}
	.success-message {
		color: #475496;
		&.active {
			display: block;
		}
	}
}