.breadcrumbs {
	margin: 15px 0 10px 25px;
	li {
		font-size: 15px;
	}
	&.level-1 {
		li:last-child {
			pointer-events: none;
    		cursor: default;
    		a {
	    		color: #0a0a0a;
    		}
		}
	}
	&.level-2 {
		li:last-child {
			pointer-events: none;
    		cursor: default;
    		a {
	    		color: #0a0a0a;
    		}
		}
	}
	&.book {
		li:nth-child(2n) {
			pointer-events: none;
    		cursor: default;
    		a {
	    		color: #0a0a0a;
    		}
		}
		li:last-child {
			pointer-events: none;
    		cursor: default;
    		a {
	    		color: #0a0a0a;
    		}
		}
	}
}
.recommendation-count {
	font-size: 30px;
	margin: 5px 10px 20px;
	&.home {
		margin: 10px 25px 20px;
	}
}